@font-face {
    font-family: 'MyFont';
    src: url('./Arvo-Regular.ttf') format('ttf'),
    url('./IBMPlexSerif-Regular.ttf') format('ttf');
    font-size: 5rem;
  }

.hello{
    color: red;
    font-family: 'MyFont';
    background: url('./icon.png');
}
